@media screen and (max-width: 1000px) {
    body {
        font-size: 2.5vw;
    }
}

.game-container{
    position: absolute;
    left:     50%;
    top:      50%;
}

.play-scene {
    position: absolute;
    border: 1px solid purple;
    top:0;
    height: 90%;
    width: 100%;
}
.oponent-area{
  position: absolute;
  border: 1px solid green;
  top: 0;
  height: 30%;
  width: 100%;
}

#opponent-hand {
    position: absolute;
    border: 1px solid violet;
    width: 70%;
    height: 100%;
    left: 0;
}

#opponent-pile {
    position: absolute;
    border: 1px solid black;
    width: 30%;
    left: 70%;
    height: 100%;
}

#opponent-pile .pile-card {
    position: absolute;
    top: 10%;
    width: 70%;
    left: 15%;
    height: auto;
}

#opponent-points {
    position: absolute;
    border: 1px solid grey;
    top: 90%;
    height: 10%;
    width: 100%;
}

.play-field {
  position: absolute;
  border: 1px solid green;
  top:30%;
  height: 35%;
  width: 100%;
}

#play-arena {
    position: absolute;
    border: 1px solid yellow;
    width: 50%;
    height: 100%;
    left: 0;
}

#card-pile {
    position: absolute;
    border: 1px solid grey;
    width: 50%;
    height: 100%;
    left: 50%;
}

.own-area {
  position: absolute;
  border: 1px solid green;
  top: 65%;
  height: 30%;
  width: 100%;
}

#own-hand {
    position: absolute;
    border: 1px solid violet;
    width: 70%;
    height: 100%;
    left: 0;
}

#own-pile {
    position: absolute;
    border: 1px solid black;
    width: 30%;
    left: 70%;
    height: 100%;
}

#own-pile .pile-card {
    position: absolute;
    top: 10%;
    width: 70%;
    left: 15%;
    height: auto;
}

#own-points {
    position: absolute;
    border: 1px solid grey;
    bottom: 0;
    height: 10%;
    width: 100%;
}

.controls-container{
    position: absolute;
    border: 1px solid lime;
    top: 95%;
    height: 5%;
    width: 100%;
}

.chat-container {
    border: 1px solid blue;
    position: absolute;
    top: 90%;
    height: 10%;
    width: 100%;
   padding: 0;
}

.messages-container {
    position: absolute;
    top: 0;
    height: 80%;
    overflow-y: hidden;
    list-style: none;
}

#chat-form {
    position: absolute;
    top: 80%;
    height: 20%;
}

/* .chat-input {
    display: inline-block;
}

.chat-send-btn {
    display: inline-block;
} */

.status-msg {
    color:blue;
}

.card {
    position: absolute;
    width: 30%;
    height: auto;
    cursor: -webkit-grab;
}

.played-card {
    position: absolute;
    width:50%;
    height: auto;
}

.card.dragging {
    cursor: -webkit-grabbing;
}

.trump-card {
    position: absolute;
    left: 5%;
    width: 40%;
    top:20%;
    height: auto;
  /* -ms-transform: rotate(90deg); 
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); */
}

.play-field .pile-card {
    position: absolute;
    left: 55%;
    width: 40%;
    top: 20%;
    height: auto;
}

.disabled-hand { 
    opacity: 0.5;
}

.disabled-card {
    pointer-events: none;
    cursor: not-allowed;
    cursor: -webkit-not-allowed;
}

.play-button {
    position: absolute;
    left: 40%;
    height: 100%;
    width: 20%;
    background-color: purple;
    color: white;
    border-style: none;
    border-radius: 3px;
}

.play-button:hover {
    cursor: pointer;
    background-color: lightblue ;
}