@media only screen and (max-width: 600px) {
    body {
        font-size: 3vw;
    }
    .menu, .menu-form {
        position: absolute;
        height: 30%;
        width: 80%;
        top: 35%;
        left: 10%;
        border-radius: 5px;
        color: #FFFFFF;
        background-color: #0f1b07;
    }
}

@media only screen and (min-width: 601px) {
    .menu, .menu-form {
        position: absolute;
        height: 30%;
        width: 50%;
        top: 35%;
        left: 25%;
        border-radius: 5px;
        color: #FFFFFF;
        background-color: #0f1b07;
    }
}



body {
    /* background-color: #46211A; */
    background: url('/images/bgrimage.jpg');
}



.play-button, .instructions-button, .create-private-button, .join-private-button, .host-join-button {
    position: absolute;
    left: 10%;
    height: 15%;
    width: 80%;
    background-color: #5c821a;
    color: #FFFFFF;
    border-style: none;
    border-radius: 3px;
}

.submit-button {
    position: absolute;
    top: 80%;
    left: 30%;
    height: 15%;
    width: 40%;
    background-color: #5c821a;
    color: #FFFFFF;
    border-style: none;
    border-radius: 3px;
}

.play-button {
    top: 14%;
}

.create-private-button{
    top: 33%;
}

.join-private-button {
    top: 52%;
}

.instructions-button {
    top: 71%;
}

.host-join-button {
    top: 80%;
}

.play-button:hover, .instructions-button:hover, .control-button:hover, .create-private-button:hover, .join-private-button:hover, .host-join-button:hover {
    cursor: pointer;
    color: #0F1B07;
    background-color: #FFFFFF;
    background-color: lightblue ;
}

.form-close-button {
    position: absolute;
    border-style: none;
    border-radius: 3px;
    height: 8%;
    width: auto;
    top:2%;
    left: 90%;
    cursor: pointer;
    color: #0F1B07;
    background-color: #FFFFFF;
}

.form-field-nickname, .form-field-gamecode {
    position: absolute;
    width: 60%;
    height: 50%;
    top: 10%;
    left: 20%;
    font-size: 16px;
    text-align: center;
}

.game-input {
    width: 100%;
    padding: 3px 8px;
    box-sizing: border-box;
}


.input-error {
    font-size: small;
    color: lime;
}

.game-container{
    position: absolute;
    left:     50%;
    top:      50%;
    background-color: #C6D166;
    border: 2px solid #0F1B07;
    box-sizing: border-box;
}

.play-scene {
    position: absolute;
    top:0;
    height: 90%;
    width: 100%;
    color: #0F1B07;
}
.oponent-area{
  position: absolute;
  top: 0;
  height: 30%;
  width: 100%;
}

#opponent-hand {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.opp-card {
    position: absolute;
    width: 20%;
    height: auto;
}

.opponent-name {
    position: absolute;
    left: 0;
    top: 70%;
    height: 10%;
    width: 100%;
}

.opponent-points, .opponent-rounds-won, .opponent-games-won {
    position: absolute;
    top: 80%;
    height: 20%;
    width: 33%;
}

.opponent-rounds-won {
    left: 33%;
}

.opponent-games-won {
    left: 67%;
}



.play-field {
  position: absolute;
  top:30%;
  height: 30%;
  width: 100%;
  background: #5C821A;
  border-top: 2px solid #0F1B07;
  border-bottom: 2px solid #0F1B07;
  box-sizing: border-box;
}

#play-arena {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
}

.announcement-container {
    position: absolute;
    z-index: 2;
    width: 40%;
    left: 30%;
    top: 40%;
    height: 20%;
    color: #B7B8B6;
    background: #34675C;
    text-align: center;
}

#card-pile {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
}

.own-area {
  position: absolute;
  top: 60%;
  height: 30%;
  width: 100%;
}

#own-hand {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.card {
    position: absolute;
    width: 20%;
    height: auto;
    cursor: -webkit-grab;
}

.player-name {
    position: absolute;
    left: 0;
    top: 70%;
    height: 10%;
    width: 100%;
}

.own-points, .own-rounds-won, .own-games-won {
    position: absolute;
    top: 80%;
    height: 20%;
    width: 33%;
}

.own-rounds-won {
    left: 33%;
}

.own-games-won {
    left: 67%;
}

.controls-container{
    position: absolute;
    top: 70%;
    height: 10%;
    width: 100%;
}

.control-button {
    position: absolute;
    top:5%;
    bottom:5%;
    left:25%;
    width: 50%;
    height:90%;
    background-color: #0F1B07;
    color: #FFFFFF;
    border-style: none;
    border-radius: 3px;
}

.chat-container {
    position: absolute;
    top: 80%;
    height: 20%;
    width: 100%;
    padding: 0;
    border-top: 1px solid #0F1B07;
    box-sizing: border-box;
    background-color: #5C821A;
}

.messages-container {
    position: absolute;
    top: 0;
    height: 80%;
    overflow-y: hidden;
    list-style: none;
}

#chat-form {
    position: absolute;
    top: 80%;
    height: 20%;
}

/* .chat-input {
    display: inline-block;
}

.chat-send-btn {
    display: inline-block;
} */

.status-msg {
    color:#FFFFFF;
}

.played-card {
    position: absolute;
    width:50%;
    height: auto;
}

.card.dragging {
    cursor: -webkit-grabbing;
}

.trump-card {
    position: absolute;
    left: 5%;
    width: 40%;
    top:20%;
    height: auto;
  /* -ms-transform: rotate(90deg); 
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); */
}

.swap-icon {
    position: absolute;
    left: 15%;
    width: 20%;
    top:35%;
    height: auto;
}

.play-field .pile-card {
    position: absolute;
    left: 55%;
    width: 40%;
    top: 20%;
    height: auto;
}

.disabled-hand { 
    opacity: 0.7;
}

.disabled-card {
    pointer-events: none;
    filter: brightness(80%);
    cursor: not-allowed;
    cursor: -webkit-not-allowed;
}



